</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 3em !important;
	width: 2em !important;
	margin: 0 .04em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 2 !important;
}
</style>
